<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success">New recipe</button>
        </div>
    </div>
</div>

<hr>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let recipe of recipes">
        <div class="float-left">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text"> {{recipe.description}} </p>
        </div>
        <span class="float-right">
            <img class="img-responsive" style="max-height: 50px;"
                [src]="recipe.imageUrl"
                alt="{{recipe.name}}">
        </span>
    </a>

</div>



<app-recipe-item></app-recipe-item>